{% extends 'base.html.twig' %}

{% block title %} Main Page {% endblock %}

{% block body %}
    <br><br><br><br>
    <div class="container">
        <a class="btn btn-primary btn-lg btn-block" href={{ path('i_was_blocked') }}>someone blocked me</a>
        <br><br>
        <a class="btn btn-primary brn-lg btn-block" href={{ path('i_blocked') }}>i blocked someone</a>
    </div>

    <br><br><br><br>
    <h2 style="text-align: center">Activities where you're blocking someone</h2>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th> BLOCKEE </th>
            <th> BLOCKER </th>
            <th> STATUS </th>
        </tr>
        </thead>
        <tbody>
        {% for activity in blockedCars %}
            <tr>
                <td>{{ activity.blockee }}</td>
                <td>{{ activity.blocker }}</td>
                <td>{{ activity.status }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br><br><br>
    <h2 style="text-align: center">Activities where you're blocked by someone</h2>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th> BLOCKEE </th>
            <th> BLOCKER </th>
            <th> STATUS </th>
        </tr>
        </thead>
        <tbody>
        {% for activity in blockedCarsTwo %}
            <tr>
                <td>{{ activity.blockee }}</td>
                <td>{{ activity.blocker }}</td>
                <td>{{ activity.status }}</td>
                <td>{{ include('activity/_activity_delete_form.html.twig') }}</td>
                <td>
                    <form method="get" action="{{ path('call_driver', {'blocker' : activity.blocker, 'blockee' : activity.blockee, 'id' : 0}) }}">
                        <button class="btn">contact your blocker</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

